img{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin-left: 30px;
        height: 400px;
        width: 400px;
        object-fit: cover;
        align-content: center;
        
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: transparent black ;
}
.active{
    text-transform: uppercase;
    border: 4px solid rgb(37, 37, 92);
    padding: 2px;
}
nav ul{
    list-style: none;
    background-color: rgb(195, 195, 221);
    padding: 10px;
    font-size: 1.5em;
}

nav li{
    display: inline;
    padding: 10px;
}


nav ul li{
    margin-top: 10px;
}
.skip{
    position: absolute;
    left: -10000px;
    top: auto;width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus{
    position: static;
    width: auto;
    height: auto;
}
h1{
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
footer {
    background: rgb(180, 180, 180); 
}
footer p{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 0px;
}