img{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin-left: 30px;
        height: 400px;
        width: 400px;
        object-fit: cover;
        align-content: center;
        
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: transparent black ;
}
.active{
    border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}
nav ul{
    color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

nav li{
    display: inline;
    padding: 10px;
}
li:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

nav ul li{
    margin-top: 10px;
}
.skip{
    position: absolute;
    left: -10000px;
    top: auto;width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus{
    position: static;
    width: auto;
    height: auto;
}
h1{
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
footer {
    background: rgb(180, 180, 180); 
}
footer p{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 0px;
}
